/* Navbar Base */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  /* background-color: #2a4a3d; */
}

/* Sticky Effect */
.navbar.sticky {
  background: rgba(10, 100, 58, 0.205);
  backdrop-filter: blur(10px);
  color: white;
}

/* Logo */
.logo img {
  width: 140px;
}

/* Menu */
.navbar-menu {
  display: flex;
  gap: 25px;
  list-style: none;
}

.navbar-menu a {
  color: #1e8158;
  text-decoration: none;
  font-size: 16px;
  position: relative;
}

.navbar-menu a::after {
  content: "";
  height: 2px;
  width: 0%;
  background: #1e8158;
  position: absolute;
  left: 0;
  bottom: -4px;
  transition: 0.3s;
}

.navbar-menu a:hover::after {
  width: 100%;
}

/* Right Side */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-right img {
  width: 22px;
  cursor: pointer;
}

/* Cart */
.cart-icon {
  position: relative;
}

.profile-link {
  color: #1e8158;
}

.dot {
  position: absolute;
  width: 8px;
  height: 8px;
  background: #1e8158;
  border-radius: 50%;
  top: -5px;
  right: -5px;
}

/* Buttons */
.signin-btn,
.navbar button {
  padding: 8px 20px;
  border-radius: 25px;
  border: none;
  background: #1e8158;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.signin-btn:hover {
  background: #146c47;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px 0;
  transition: 0.3s;
}

/* Mobile */
@media (max-width: 768px) {
  .navbar-menu {
    position: absolute;
    top: 70px;
    right: 0;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9);
    width: 200px;
    padding: 20px;
    display: none;
  }

  .navbar-menu.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}
