.header {
  height: 34vw;
  background: url("/header_img5.png") center/cover no-repeat;
  background-size: contain;
  position: relative;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 63px;
  margin-bottom: 50px;
}

/* Overlay */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.203), rgba(0, 0, 0, 0.219));
  top: 0;
  left: 0;
}

/* Content */
.header-content {
  position: relative;
  max-width: 600px;
  color: white;
  animation: fadeUp 1s ease;
  padding-left: 50px;
}

.header-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.header-content p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.6;
}

/* Buttons */
.header-buttons {
  display: flex;
  gap: 15px;
}

.header-buttons button {
  padding: 12px 25px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.primary {
  background: #1e8158;
  color: white;
}

.primary:hover {
  background: #146c47;
}

.secondary {
  background: transparent;
  border: 1px solid white;
  color: white;
}

.secondary:hover {
  background: white;
  color: black;
}

/* Animation */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .header-content h1 {
    font-size: 32px;
  }

  .header-content p {
    font-size: 14px;
  }

  .header-buttons {
    flex-direction: column;
  }
}
